{{ block title }}
Buyer Quiz
{{ endblock }}
{{ block content }}

{{ formfield 'buyer_quiz1' }}
{{ formfield 'buyer_quiz2' }}
{{ formfield 'buyer_quiz3' }}

<h3>This context applies to the next three questions:</h3>
<b>Suppose you have a BUY contract for 500 units for $12 per unit that expires at the second 110 (10 seconds before the
    end of the trading period). That is, the computer is going to BUY from you up to 500 units and pay you $12 per each
    of those units if you own them at the moment in which the contract expires.</b>
{{ formfield 'buyer_quiz4' }}
{{ formfield 'buyer_quiz5' }}
{{ formfield 'buyer_quiz6' }}
{{ next_button }}

{{ endblock }}