{% extends "global/Page.html" %}
{% load otree static %}
{% load staticfiles otree %}


{% block title %}
Page title
{% endblock %}


{% block content %}
<style>
    .order-input {
        width: 390px;
        height: 300px;
        display: block;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }
</style>


{% include "flow_market/constants.html" %}
{% include "flow_market/order_graph.html" %}
{% include "flow_market/order_book.html" %}
{% include "flow_market/inventory_chart.html" %}
{% include "flow_market/cash_chart.html" %}
{% include "flow_market/order_table.html" %}
{% include "flow_market/contract_table.html" %}
{% include "flow_market/status_chart.html" %}

<div>
    <h5>Your Input</h5>
    <canvas id="orderGraph"></canvas>

    <button id="buyQuantityInc" onclick="OrderGraph.buyQuantityButtonClick(true)">+</button>
    <input id="buyQuantityInput" type="number" value="10" min="1" max="100" step="5" />
    <button id="buyQuantityDec" onclick="OrderGraph.buyQuantityButtonClick(false)">-</button>
    <button type="button" id="buyButton" onclick="OrderGraph.buyButtonClick()">Send Buy</button>

    <button id="sellQuantityInc" onclick="OrderGraph.sellQuantityButtonClick(true)">+</button>
    <input id="sellQuantityInput" type="number" value="10" min="1" max="100" step="5" />
    <button id="sellQuantityDec" onclick="OrderGraph.sellQuantityButtonClick(false)">-</button>
    <button type="button" id="sellButton" onclick="OrderGraph.sellButtonClick()">Send Sell</button>
</div>

<div>
    <h5>Market</h5>
    <canvas id="orderBook"></canvas>
</div>
<div>
    <h5>Inventory</h5>
    <canvas id="inventoryChart"></canvas>
</div>
<div>
    <h5>Cash</h5>
    <canvas id="cashChart"></canvas>
</div>

<div>
    <h5>Active Orders</h5>
    <table id="activeOrderTable">
    </table>
</div>
<div>
    <h5>Executed Orders</h5>
    <table id="executedOrderTable">
    </table>
</div>

<div>
    <h5>Active Contracts</h5>
    <table id="activeContractTable">
    </table>
</div>
<div>
    <h5>Executed Contracts</h5>
    <table id="executedContractTable">
    </table>
</div>

<div>
    <h5>Status</h5>
    <h6>Cash: </h6>
    <h6 id="cashStatus"></h6>
    <h6>Inventory: </h6>
    <h6 id="inventoryStatus"></h6>
</div>

<script>
    var orderBook = new OrderBook();
    orderBook.show();

    var orderGraph = new OrderGraph();
    orderGraph.show();

    var inventoryChart = new InventoryChart();
    inventoryChart.show();

    var cashChart = new CashChart();
    cashChart.show();

    var orderTable = new OrderTable();
    orderTable.show();

    var contractTable = new ContractTable();
    contractTable.show();

    var statusChart = new StatusChart();

    var updateFloMarketPage = window.setInterval(function () {
        if (orderGraph.shouldRequestUpdate()) {
            liveSend({
                'message_type': 'order_graph_update_request'
            })
        }
        liveSend({
            'message_type': 'update',
        })
    }, 1000);

    function liveRecv(data) {
        orderBook.update(data['order_book_data']);
        if (data['order_graph_data']) {
            orderGraph.update(data['order_graph_data']);
        }
        if (data['inventory_chart_data']) {
            inventoryChart.update(data['inventory_chart_data']);
        }
        if (data['cash_chart_data']) {
            cashChart.update(data['cash_chart_data']);
        }
        if (data['status_chart_data']) {
            statusChart.update(data['status_chart_data']);
        }
        if (data['order_table_data']) {
            orderTable.update(data['order_table_data']);
        }
        if (data['contract_table_data']) {
            contractTable.update(data['contract_table_data']);
        }
    }

</script>




{% endblock %}