{% extends "global/Page.html" %}
{% load otree %}
{% block content %}
{% if treatment == "flo" %}
<h1>Experimento Instrucciones</h1>
<br><br>
<h3>Video resumiendo instrucciones</h3>

<video width="1000"  controls autoplay>
<source src="https://zoom.us/rec/play/0IuofkQD9Gx90u6NvNcD-dwvNt-NVeNk3RM96ZsAPJUs7qjWavks0aQLalXGb5HYliCQHLyx6Gb9lcUn.l9uU3FY8CWeF-5EJ?continueMode=true&iet=GT6OaU28524kgH8JXXXR6RiFopWKX634bx4LHbz3Xm4.AG.wyEqr0P1NuOM9x0VO6tsyiPRoPxAzza4fAMM3LywWoXUEeejfNh805fd7lQZQIMRFTRwRXDJ7WuqI0zeDktIXgLufQwmEYHHqeMFK_xdQoLUDqvBaeALEl14ae-4zVWBbIz6jaXVKpQmCg.kJH3_dljanOOPjfg6TDlOQ.WiZhVR-Ph2KXDKuz&_x_zm_rtaid=EUKaOLd3S8-DW695vIHRVg.1666708409465.0747a5b4b25cc73e6f18aa2f56bc9312&_x_zm_rhtaid=743" type="video/mp4">    
</video>

{% elif treatment == "cda" %}
<iframe src="https://docs.google.com/document/d/e/2PACX-1vQzKSPCsaNTWYlorgP1IPGhnCh9nocpBQOFMvoJV2wDnfNJXNeODUyKYwHmpecDrulOC54v7YJi-O2m/pub" height="1000" width="100%  style="border:none;" ></iframe>
{% endif %}
{% next_button %}
<br><br>
<b>Contáctenos:</b>
<br>
<img height="2%" width="2%" src="{% static 'whatsapp.png'%}"/> <a href="https://wa.me/0051985730063" target="_blank">+51 985730063</a>
<br>
<img height="2%" width="2%" src="{% static 'gmail.png'%}"/> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=e2lab@up.edu.pe" target="_blank">e2lab@up.edu.pe</a> 
<br>
<img height=10% width=20% src="{% static 'logoup.png'%}"/>
{% endblock %}