{% extends "global/Page.html" %}
{% load otree %}
{% block content %}
{% if treatment == "flo" %}
<h1>Experimento Instrucciones</h1>
<br><br>
<h3>Sus ganancias</h3>
<p>
Usted obtiene ganancias vendiendo acciones a precios más altos que los precios a los que compró.
</p>
<p>
Sin embargo, tenga en cuenta que no necesita comprar una acción para venderla. Incluso si tiene cero inventario, aún puede vender acciones (haciendo que su inventario sea negativo). De manera similar, incluso si no tiene efectivo, aún puede comprar acciones (lo que hace que su saldo de efectivo sea negativo). 
</p>
<p>
Además, tenga en cuenta que puede comprar y vender acciones tanto a la computadora como a otros negociantes. Sus ganancias de las transacciones con otros participantes aparecerán inmediatamente en su cuenta de efectivo, mientras que sus ganancias de los contratos con la computadora se agregarán a la cuenta de efectivo cuando expire el contrato. 
</p>
<p>
Ejemplos: pierde dinero cuando compra a un precio más alto del que vendió, o vende a un precio más bajo del que compró. Por ejemplo, suponga que paga 23 ECU por una acción que luego vende a la computadora a un precio de 17 ECU. Entonces su ganancia es de 17-23 = -6 ECU. Es decir, incurrió en una pérdida de 6 ECU en esa acción. Si, en cambio, hubiera comprado esa acción al precio de 14 ECU, obtendría una ganancia de 17-14 = 3 sobre esa acción.
</p>
<p>
Liquidación de Fin de Periodo: Se penaliza terminar la ronda de negociación con inventario distinto de cero (positivo o negativo). Cuando finaliza una ronda, su inventario positivo se liquidará a un precio de 0. Es decir, cualquier acción que aún posea valdrá cero. Del mismo modo, si tiene un inventario negativo, la computadora le hará comprar las unidades que debe al alto costo de 20 ECU por acción, que se restarán de su saldo de efectivo. Durante cada ronda, puede ver su saldo de efectivo, inventario y ganancias proyectadas como en la Figura 3. Su cuenta de efectivo después de las multas por inventarios distintos de cero se convertirán en sus ganancias del período. 
</p>

<h3>Ganancias proyectadas</h3>
<p>
El cuadro inferior central muestra sus ganancias proyectadas. Es decir, indica a cuánto ascenderían las ganancias del período si el contrato fuera a vencer inmediatamente y el período finalizara de inmediato. Esto proporciona un resumen de su estado actual.
</p>
<p>
Ganancias de la sesión: después del último periodo, la computadora sumará sus ganancias en todos los periodos jugados (excepto los dos de prueba) para determinar su compensación real. Estas ganancias serán convertidas a Soles Peruanos a razón de un Sol Peruano por cada 1000 ECU. 
</p>
<img  src="{% static 'flow_market/Figure3.png' %}" width="700" align="center"/>

{% elif treatment == "cda" %}
<iframe src="https://docs.google.com/document/d/e/2PACX-1vQzKSPCsaNTWYlorgP1IPGhnCh9nocpBQOFMvoJV2wDnfNJXNeODUyKYwHmpecDrulOC54v7YJi-O2m/pub" height="1000" width="100%  style="border:none;" ></iframe>
{% endif %}
{% next_button %}
{% endblock %}