{% extends "global/Page.html" %}
{% load otree %}
{% block content %}
<h1>Experimento Instrucciones</h1>
<br><br>
<h3>NOTAS IMPORTANTES</h3>
<p>
LA SESIÓN DE HOY ES UNA SESIÓN PILOTO. 
EN CASO HUBIESE UN PROBLEMA CON EL SOFTWARE, EL ENCARGADO DE ADMINISTRAR LA SESIÓN Y LOS INVESTIGADORES IMPLEMENTARAN 
UNA REGLA DE PAGO QUE TRATE DE RESPETAR TU DESEMPEÑO EN EL “JUEGO” Y LOS PROMEDIOS DE PAGO TÍPICOS EN NUESTRO LABORATORIO.
</p>
<p> 
POR FAVOR NO TENGAN TEMOR EN PREGUNTAR CLARIFICACIONES POR MEDIO DE UN CORREO O WHATSAPP
</p> 
<p>
¡MUCHAS GRACIAS POR TU COMPRENSIÓN! 
</p>    
<br><br>
<p>¡Bienvenido y gracias por participar!</p>
<p>
    Desde ahora hasta el final del experimento, no se comunique con otros participantes. Concéntrese en la tarea. Si tiene alguna pregunta, informe al E2LabUP por medio de un correo o un WhatsApp; responderán a sus preguntas.
</p> 
<p>  
Preste mucha atención a las instrucciones, ya que hay dinero real en juego. Durante el experimento, obtendrá unidades monetarias experimentales (ECU por sus siglas en inglés). Al final del experimento, convertiremos sus ganancias en <b>soles peruanos (PEN)</b> a una tasa de un sol por cada <b>1000</b> ECU. Se le garantiza un pago por participación de PEN 5.00, pero puede ganar considerablemente más. 
</p>
<br>
<h3>Idea básica</h3>
<p>
En este experimento, usted y otros <b>11</b> participantes serán negociantes en un mercado financiero automatizado donde se compran y venden acciones. Utilizando la información que se muestra en su pantalla, usted realizará transacciones para ganar la mayor cantidad posible de ECU. Como se explica a continuación, sus ganancias dependerán de las ofertas que usted y los demás negociantes hagan en su grupo. Habrá <b>14</b> periodos de negociación, cada uno con una duración de <b>2</b> minutos. 
</p>
<p>
<b>Las dos primeras rondas son rondas de práctica (no cuentan para su pago real).</b>
Sus ganancias finales para la sesión serán la suma de su pago por participación y las ganancias acumuladas de todos los períodos de negociación, convertidas a soles peruanos.
</p>
{% next_button %}
<br><br>
<b>Contáctenos:</b>
<br>
<img height="2%" width="2%" src="{% static 'whatsapp.png'%}"/> <a href="https://wa.me/0051985730063" target="_blank">+51 985730063</a>
<br>
<img height="2%" width="2%" src="{% static 'gmail.png'%}"/> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=e2lab@up.edu.pe" target="_blank">e2lab@up.edu.pe</a> 
<br>
<img height=10% width=20% src="{% static 'logoup.png'%}"/>
{% endblock %}