{% extends "global/Page.html" %}
{% load otree %}
{% block content %}
{% if treatment == "flo" %}
<iframe src="https://docs.google.com/document/d/e/2PACX-1vQLnQ-zxI_1LM4JRUVkniRO-4KXl2SCSMaZlaFXICfbA1wzLbqUI5IEnWTPGNx1G31PyALNVUAUfJDv/pub?embedded=true" height="1000" width="100%  style="border:none;" ></iframe>
{% elif treatment == "cda" %}
<iframe src="https://docs.google.com/document/d/e/2PACX-1vQ77hv-My6Ju_N9zKD6Bt_RSLRby1FU4MZp9jWSplrHEiHhIYg9RLGSyxhbkwsowjz-YtXgHtu94zYl/pub?embedded=true" height="1000" width="100%  style="border:none;" ></iframe>
{% endif %}
{% next_button %}
{% endblock %}