{% extends "global/Page.html" %}
{% load otree %}
{% block content %}
{% if treatment == "flo" %}
<iframe src="https://docs.google.com/document/d/e/2PACX-1vTrAyNVbqXTmnlLMzBUCKDs13sdb-SJtMqm0_s_R9xV85osU9yYT3bWwslFA7ZTZmElCJy2KVoQGYON/pub?embedded=true" height="1000" width="100%  style="border:none;" ></iframe>
{% elif treatment == "cda" %}
<iframe src="https://docs.google.com/document/d/e/2PACX-1vQzKSPCsaNTWYlorgP1IPGhnCh9nocpBQOFMvoJV2wDnfNJXNeODUyKYwHmpecDrulOC54v7YJi-O2m/pub" height="1000" width="100%  style="border:none;" ></iframe>
{% endif %}
{% next_button %}
{% endblock %}