{% extends "global/Page.html" %}
{% load otree static %}
{% load staticfiles otree %}


{% block title %}
Page title
{% endblock %}


{% block content %}
<style>
    .order-input {
        width: 390px;
        height: 300px;
        display: block;
    }
</style>


{% include "flow_market/constants.html" %}
{% include "flow_market/order_graph.html" %}
{% include "flow_market/order_book.html" %}
{% include "flow_market/inventory_chart.html" %}

<div>
    <h5>Your Input</h5>
    <canvas id="orderGraph"></canvas>

    <button id="buyQuantityInc" onclick="OrderGraph.buyQuantityButtonClick(true)">+</button>
    <input id="buyQuantityInput" type="number" value="10" min="1" max="100" step="5" />
    <button id="buyQuantityDec" onclick="OrderGraph.buyQuantityButtonClick(false)">-</button>
    <button type="button" id="buyButton" onclick="OrderGraph.buyButtonClick()">Send Buy</button>

    <button id="sellQuantityInc" onclick="OrderGraph.sellQuantityButtonClick(true)">+</button>
    <input id="sellQuantityInput" type="number" value="10" min="1" max="100" step="5" />
    <button id="sellQuantityDec" onclick="OrderGraph.sellQuantityButtonClick(false)">-</button>
    <button type="button" id="sellButton" onclick="OrderGraph.sellButtonClick()">Send Sell</button>
</div>

<div>
    <h5>Market</h5>
    <canvas id="orderBook"></canvas>
</div>

<div>
    <h5>Inventory</h5>
    <canvas id="inventoryChart"></canvas>
</div>

<script>
    var orderBook = new OrderBook();
    orderBook.show();

    var orderGraph = new OrderGraph();
    orderGraph.show();

    var inventoryChart = new InventoryChart();
    inventoryChart.show();

    var time = 0;

    var updateMarketPage = window.setInterval(function () {
        time += 1;
        liveSend({
            'message_type': 'update',
            'time': time,
        })
    }, 1000);

    function liveRecv(data) {
        orderGraph.update(data['order_graph_data']);
        orderBook.update(data['order_book_data']);
        if (data['inventory_data']) {
            inventoryChart.update(data['inventory_data']);
        }
    }

</script>




{% endblock %}