<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-dragdata@2.2.3/dist/chartjs-plugin-dragdata.min.js"></script>

<script>
    class OrderGraph {
        // Class variables
        static myChart;
        static bidActive = true;
        static askActive = true;
        static buyOrderId;
        static sellOrderId;


        get data() {
            return {
                datasets: [{
                    label: 'Bids',
                    pointRadius: [0, 6, 6, 0],
                    pointHitRadius: [0, 25, 25, 0],
                    pointStyle: ["", "circle", "rect", ""],
                    dragData: true,
                    showLine: true,
                    backgroundColor: BLUE,
                    borderColor: BLUE_TRANSPARENT,
                    data: []
                },
                {
                    label: 'Asks',
                    pointRadius: [0, 6, 6, 0],
                    pointHitRadius: [0, 25, 25, 0],
                    pointStyle: ["", "rect", "circle", ""],
                    dragData: true,
                    showLine: true,
                    backgroundColor: RED,
                    borderColor: RED_TRANSPARENT,
                    data: []
                }]
            }
        }

        get scales() {
            return {
                x: {
                    title: {
                        display: true,
                        text: 'Rate'
                    },
                    type: 'linear',
                    min: 0,
                    max: 5,
                    position: 'bottom',
                    ticks: {
                        stepSize: 1,
                    },
                },
                y: {
                    title: {
                        display: true,
                        text: 'Price',
                    },
                    type: 'linear',
                    min: 0,
                    max: YMAX,
                }
            }
        }

        get plugins() {
            return {
                dragData: {
                    round: 0,
                    dragX: true,
                    showTooltip: true,
                    onDragStart: function (e, datasetIndex, index, value) {
                        if (index == 0 || index == 4) { return false; }
                        if (datasetIndex == BIDS_DATASETS_INDEX && !OrderGraph.bidActive) {
                            return false;
                        }
                        if (datasetIndex == ASKS_DATASETS_INDEX && !OrderGraph.askActive) {
                            return false;
                        }
                    },
                    onDrag: function (e, datasetIndex, index, value) {
                        let bids = OrderGraph.myChart.data.datasets[0].data;
                        let bidsMax = bids[MAX_PRICE_INDEX];
                        let bidsMin = bids[MIN_PRICE_INDEX];
                        let asks = OrderGraph.myChart.data.datasets[1].data;
                        let asksMax = asks[MAX_PRICE_INDEX];
                        let asksMin = asks[MIN_PRICE_INDEX];
                        if (datasetIndex == BIDS_DATASETS_INDEX) {
                            // Dragging bids
                            if (index == MAX_PRICE_INDEX) {
                                // Dragging maxPrice
                                if (value.x > 0) {
                                    bidsMax.x = 0;
                                }
                                if (value.y <= bidsMin.y) {
                                    bidsMax.y = bidsMin.y + 1;
                                }
                                if (!OrderGraph.askActive && value.y >= asksMin.y) {
                                    bidsMax.y = asksMin.y - 1;
                                }
                            } else {
                                // Dragging minPrice
                                if (value.y >= bidsMax.y) {
                                    bidsMin.y = bidsMax.y - 1;
                                }
                                if (value.x <= 0) {
                                    value.x = 1;
                                }
                                bids[3].x = value.x;
                            }
                        } else {
                            // Dragging asks
                            if (index == MIN_PRICE_INDEX) {
                                // Dragging minPrice
                                if (value.x > 0) {
                                    asksMin.x = 0;
                                }
                                if (value.y >= asksMax.y) {
                                    asksMin.y = asksMax.y - 1;
                                }
                                if (!OrderGraph.bidActive && value.y <= bidsMax.y) {
                                    asksMin.y = bidsMax.y + 1;
                                }
                            } else {
                                // Dragging maxPrice
                                if (value.y <= asks[MIN_PRICE_INDEX].y) {
                                    asks[MAX_PRICE_INDEX].y = asks[MIN_PRICE_INDEX].y + 1;
                                }
                                if (value.x <= 0) {
                                    value.x = 1;
                                }
                                asks[0].x = value.x;
                            }
                        }

                    },
                    onDragEnd: function (e, datasetIndex, index, value) {
                    },
                }
            }
        }

        get config() {
            return {
                type: 'scatter',
                data: this.data,
                options: {
                    scales: this.scales,
                    plugins: this.plugins,
                    onHover: (e, chartElement) => {
                        let element = chartElement[0]
                        if (element != null) {
                            if (element.index != MIN_PRICE_INDEX && element.index != MAX_PRICE_INDEX) {
                                return;
                            }
                            if (element.datasetIndex == BIDS_DATASETS_INDEX && !OrderGraph.bidActive) {
                                return;
                            }
                            if (element.datasetIndex == ASKS_DATASETS_INDEX && !OrderGraph.askActive) {
                                return;
                            }
                            document.querySelector("#orderGraph").style.cursor = "grab";
                        } else {
                            document.querySelector("#orderGraph").style.cursor = "default";
                        }
                    }
                }
            };
        }

        show() {
            OrderGraph.myChart = new Chart(
                document.getElementById("orderGraph"), this.config);
        }

        update(data) {
            OrderGraph.bidActive = data['bid_active'];
            OrderGraph.myChart.data.datasets[0].data = data['bid_data'];
            OrderGraph.buyOrderId = data['buy_order_id'];
            if (!data['bid_data']) {
                this.disableButton(/*isBuy=*/true);
            } else if (OrderGraph.bidActive) {
                this.setPointsActive(/*isBuy=*/true);
            } else {
                this.setPointsInactive(/*isBuy=*/true)
            }

            OrderGraph.askActive = data['ask_active'];
            OrderGraph.myChart.data.datasets[1].data = data['ask_data'];
            OrderGraph.sellOrderId = data['sell_order_id'];
            if (!data['ask_data']) {
                this.disableButton(/*isBuy=*/false);
            } else if (OrderGraph.askActive) {
                this.setPointsActive(/*isBuy=*/false);
            } else {
                this.setPointsInactive(/*isBuy=*/false)
            }
            OrderGraph.myChart.update();
        }

        shouldRequestUpdate() {
            return OrderGraph.myChart.data.datasets[0].data.length == 0 &&
                OrderGraph.myChart.data.datasets[1].data.length == 0;
        }

        disableButton(isBuy) {
            if (isBuy) {
                document.querySelector("#buyButton").disabled = true;
            } else {
                document.querySelector("#sellButton").disabled = true;
            }
        }

        setPointsActive(isBuy) {
            if (isBuy) {
                let datasets = OrderGraph.myChart.data.datasets[0];
                datasets["pointRadius"] = [0, 6, 6, 0];
                datasets["borderColor"] = BLUE_TRANSPARENT;
                document.querySelector("#buyButton").disabled = false;
                document.querySelector("#buyButton").innerText = "Send Buy";
            } else {
                let datasets = OrderGraph.myChart.data.datasets[1];
                datasets["pointRadius"] = [0, 6, 6, 0];
                datasets["borderColor"] = RED_TRANSPARENT;
                document.querySelector("#sellButton").disabled = false;
                document.querySelector("#sellButton").innerText = "Send Sell";
            }
        }

        setPointsInactive(isBuy) {
            if (isBuy) {
                let datasets = OrderGraph.myChart.data.datasets[0];
                datasets["pointRadius"] = [0, 0, 0, 0];
                datasets["borderColor"] = BLUE;
                document.querySelector("#buyButton").disabled = false;
                document.querySelector("#buyButton").innerText = "Cancel Buy";
            } else {
                let datasets = OrderGraph.myChart.data.datasets[1];
                datasets["pointRadius"] = [0, 0, 0, 0];
                datasets["borderColor"] = RED;
                document.querySelector("#sellButton").disabled = false;
                document.querySelector("#sellButton").innerText = "Cancel Sell";
            }
        }


        static buyButtonClick() {
            let datasets = OrderGraph.myChart.data.datasets[BIDS_DATASETS_INDEX];
            let button = document.querySelector("#buyButton");
            if (OrderGraph.bidActive) {
                let quantity = document.querySelector("#buyQuantityInput");
                liveSend(OrderGraph.parseOrder('buy', datasets["data"], parseInt(quantity.value)));
            } else {
                liveSend({
                    'message_type': 'remove_order',
                    'order_id': OrderGraph.buyOrderId
                });
            }
        }

        static sellButtonClick() {
            let datasets = OrderGraph.myChart.data.datasets[ASKS_DATASETS_INDEX];
            if (OrderGraph.askActive) {
                let quantity = document.querySelector("#buyQuantityInput");
                liveSend(OrderGraph.parseOrder('sell', datasets["data"], parseInt(quantity.value)));
            } else {
                liveSend({
                    'message_type': 'remove_order',
                    'order_id': OrderGraph.sellOrderId
                });
            }
        }

        static parseOrder(direction, data, quantity) {
            return {
                'message_type': 'add_order',
                'direction': direction,
                'max_price_x': data[MAX_PRICE_INDEX].x,
                'max_price_y': data[MAX_PRICE_INDEX].y,
                'min_price_x': data[MIN_PRICE_INDEX].x,
                'min_price_y': data[MIN_PRICE_INDEX].y,
                'quantity': quantity
            };
        }
    }


</script>