{{ block title }}
Seller Quiz
{{ endblock }}
{{ block content }}

{{ formfield 'seller_quiz1' }}
{{ formfield 'seller_quiz2' }}
{{ formfield 'seller_quiz3' }}

<h3>This context applies to the next three questions:</h3>
<b>Suppose you have a SELL contract for 500 units for $8 per unit that expires at the second 110 (10 seconds before the
    end of the trading period). That is, the computer is going to SELL to you up to 500 units and pay you $8 per each of
    those units if you have sold by the moment in which the contract expires.</b>
{{ formfield 'seller_quiz4' }}
{{ formfield 'seller_quiz5' }}
{{ formfield 'seller_quiz6' }}
{{ next_button }}

{{ endblock }}